$primaryColor: #ccc;

body {
    height:100%;
    width: 100%;
    font-size: 1em;
}

ul li{
    border-bottom: 1px solid $primaryColor;
}

.post-container {
    margin-top: 100px;
}
.post-photo {
    height:150px;
    position: relative;
    min-height: 1px;
    float: left;
    width: 33.33333333%;
}

.post-head {
    font-size: 1.5em;
    height:150px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 66.66666667%;
}

.post-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.post-date {
    text-align: left;
    width: 100%;
}

.post-author, .post-link  {
    text-align: left;
    text-decoration: underline;
    width: 30%;
    margin-right: 20px
}

.hideOverflow {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100%;
    display:block;
}

#title {
    z-index: 1;
    font-size: 2em;
    color: white;
    background-color: #D20505;
    height: 100px;
    top: 0px;
    width: 100%;
    position: fixed;
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

@media (min-width: 800px) {
  .post-title .post-author .post-link {
    float: left;
  }
}
